# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
# Entorno
.env

# Logs y archivos temporales
logs/
*.log
*.tmp

# Archivos generados por IDEs
.vscode/
.idea/

# Configuración local
.DS_Store
Thumbs.db
